Slides/
EmbeddedProg/TivaTM4C123GH6PMMicrocontrollerDatasheet.pdf
Forstærkerteknik/Hambley - Electronics.pdf
.vscode/
Debug/
dvt/
targetConfigs/
.ccsproject
.cproject
.project
RemoteSystemTempFiles/
.settings/
.metadata/
.jxbrowser.userdata/
.launches/
EmbeddedProg/Indlejret_prog_gruppe12/
Semesterprojekt_4/
*.sim/
*.cache/
*.gen/
EmbeddedProg/LCD_display_manual.pdf
EmbeddedProg/LittleBookOfSemaphores.pdf
